go 1.21.4

use ./main

use (
    ./flags_usage
    ./net_flags
    ./flags
    ./cars
    ./rest_users
	./newmain
	./ypmodule
    ./sum
    ./test_3_func/first_func
    ./test_3_func/sec_func
    ./test_3_func/third_func
)
